*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background-color: rgb(52, 64, 85);
    background-position: center;
    background-size: cover;
    margin: auto;
}
.titleimage{
    width: 500px; 
    height: 333px;
    padding-left: 10px;
}
.nav{
    height: 75px;
    margin: auto;
    background-color: rgb(25, 74, 143);
}


.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-left: 90px;
}
html{
    scroll-behavior: smooth;
}
.store{
    padding-top: 15px;
    font-size: 15px;
    background-color: rgb(52, 64, 85);
    margin: auto;
}
.slide{
    padding-left: 10px;
}
.featured{
    padding-top: 15px;
    padding-left: 100px;
    font-size: 40px;
    background-color: rgb(52, 64, 85);
    margin: auto;
}

.about{
    padding-top: 15px;
    font-size: 40px;
    background-color: rgb(80, 93, 114);
    margin: auto;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 95px;
    margin-top: 15px;
    font-size: 45px;
}

ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color:aqua;
}

.title{
    color:black bold;
    padding-left: 10px;
    font-size: 100px;
}

.par{
    color: black;
    padding-left: 15px;
    font-size: 50px;
}

.inp{
    width: 600px;
}
  
.image{
    width: 800px;
    height: 600px;
}

.items{
    font-size: 80px;
    position: center;
}
.text{
    font-size: 70px;
}
